#params_table {
	background-color: #eeeeee;
	border-collapse: collapse;
	border: 2px solid #444444;
}

tr.params_table_tr {
	border: 1px solid #dddddd;
}

.params_table_th {

}

th {
	padding: 5px 50px 5px 5px;
}

ul.empty {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

input.number {
	width: 50%;
	margin-top: -5px;
}