body {
	background-color: #000;
	color: #fff;
	font-family: Sans-Serif;
	font-weight: normal;
}

#connection_table {
	width: 100%;
	background-color: #aaa;
}

#address_label_th {
	min-width: 120px;
}

#address_th {
	width: 80%;
}

input#address {
	width: 100%;
}

#connect_btn_th {
	width: 10%;
}

#params_table {
	width: 100%;
	background-color: #444;
	color: #eee;
	border-collapse: collapse;
	border: 3px solid #888;
	font-size: smaller;
}

#presets_table {
	width: 50%;
	background-color: #111;
	color: #aaa;
}

tr.params_table_tr {
	border: 1px solid #888;
}

.params_table_th {

}

th {
	text-align: left;
}

th.name {
	padding-left: 5px;
	width: 20%;
}

th.value {
	width: 80%;
}

/* slider */
table.slider {
	width: 100%;
}

tr.slider {
	width: 100%;
}

th.slider {
	width: 100%;
}

th.slider_minmax {
	font-size:70%;
	padding-right:5px;
}

input.slider {
	width: 100%;
}

input.number {
	width: 70px;
	margin-right: 10px;
}

input.string {
	width: 100%;
}